
body {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

#map {
  width: calc(100% - 2rem - 20px);
  height: calc(100% - 9rem - 20px);
  background-color: white;
  border: 10px solid #00283d;
  padding: 1rem;
  border-top-color: #ddd;
  border-bottom-color: #ddd;
}

#rock-table {
  width: 50%;
  border-collapse: collapse;
  background-color: yellowgreen;
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  
}

#rock-table th, #rock-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#rock-table th {
  background-color: aliceblue;
  color: #031B28;
}

#rock-table tr {
  background-color: #031B28;
  color: whitesmoke;
}

.red {
  color: red;
}

.green {
  color: green;
}

#location-form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: calc(100% - 1rem);
  height: 6rem;
  padding: 0.5rem;
  background-color: #00283d;
}

.location-information {
  width: 70%;
  height: 100%;
  background-color: rgb(31, 58, 80);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 1.5px;
}

.location-coordinate-1 {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid #ddd;
  color: whitesmoke;
}

.location-coordinate-2 {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: whitesmoke;
}

.location-coordinate-1 h4, .location-coordinate-2 h4 {
  width: 25%;
  text-align: center;
}

.location-coordinate-1 input, .location-coordinate-2 input {
  background-color: transparent;
  color: whitesmoke;
  /* border: 1px solid #031B28; */
  padding: 0.5rem 1rem;
  outline: none;
}

.location-coordinate-1 input::placeholder, .location-coordinate-2 input::placeholder  {
  color: skyblue;
}

#location-form button {
  padding: 0.83rem 1.78rem;
  border: 1px solid aliceblue;
  background-color: aliceblue;
  color: #00283d;
  /* height: 1rem; */
  border-radius: 7px;
  font-size: 1rem;
  display: inline-block;
  margin: 0;
  font-weight: bold;
}

footer {
  width: 100%;
  height: 1rem;
  text-align: center;
  text-transform: capitalize;
  font-size: small;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(165, 44, 0);
  color: white;
  padding: 0.5rem 0;
}

#headerContainer {
  background-color: rgb(165, 44, 0);
  color: white;
  width: calc(100% - 4rem);
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 2rem;
  position: relative;
}

#headerContainer img {
  width: 7rem;
  height: 80%;
  position: absolute;
  left: 2rem;
  top: 50%;
  transform: translateY(-50%);
  padding: 0.5rem 0;
}

#headerContainer h2 {
  font-size: 2.2rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  text-align: center;
}

#main {
  width: 100%;
  height: calc(100vh - 6rem);
  background-color: orangered;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

#formMapContainer {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}


@media (min-width: 300px) and (max-width: 450px) {
  
body{
  position: relative;
}

#main {
    width: 100vw;
    flex-direction: column;
}

footer {
  width: 100vw;
  height: 2rem;
  font-size: medium;
  padding: 0.5rem 9rem;
  position: absolute;
  bottom: -115%;
}

#headerContainer {
  width: 100vw;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem 9rem;
  position: relative;
}

#headerContainer img {
  width: 9rem;
  height: 80%;
  left: 1.5rem;
  padding: 0;
}

#headerContainer h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 10rem;
}

#location-form {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 12rem;
  padding: 2rem 8rem 4rem 8rem;
  gap: 1rem;
}

.location-information {
  width: 100%;
}

.location-coordinate-1, .location-coordinate-2 {
  width: 100vw;
}

.location-coordinate-1 h4, .location-coordinate-2 h4 {
  font-size: larger;
  text-align: start;
}

.location-coordinate-1 input, .location-coordinate-2 input {
  width: 6rem;
}

#map{
  width: 100vw;
  height: 100vh;
  padding: 8rem;
}

#rock-table{
  width: 100vw;
}
}

@media (min-width: 451px) and (max-width: 1100px){
  body{
    position: relative;
  }
  
  #main {
      width: 100vw;
      flex-direction: column;
  }
  
  footer {
    width: 100vw;
    height: 2rem;
    font-size: medium;
    padding: 0.5rem 9rem;
    position: absolute;
    bottom: -115%;
  }
  
  #headerContainer {
    width: 100vw;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem 9rem;
    position: relative;
  }
  
  #headerContainer img {
    width: 9rem;
    height: 80%;
    left: 1.5rem;
    padding: 0;
  }
  
  #headerContainer h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 10rem;
  }
  
  #location-form {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 12rem;
    padding: 2rem 8rem 4rem 8rem;
    gap: 1rem;
  }
  
  .location-information {
    width: 100%;
  }
  
  .location-coordinate-1, .location-coordinate-2 {
    width: 100vw;
  }
  
  .location-coordinate-1 h4, .location-coordinate-2 h4 {
    font-size: larger;
    text-align: start;
  }
  
  .location-coordinate-1 input, .location-coordinate-2 input {
    width: 6rem;
  }
  
  #map{
    width: 100vw;
    height: 100vh;
    padding: 8rem;
  }

  #rock-table{
    width: 100vw;
  }
}